services:
  main-nginx:
    image: nginx:latest
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/sites:/etc/nginx/sites
      - ./html:/usr/share/nginx/html
      - /dev/null:/etc/nginx/conf.d/default.conf
    ports:
      - "8085:80"
    depends_on:
      - plugin-site1
      - plugin-site2
      - plugin-widget1
      - plugin-widget2
      - plugin-widget3
      - plugin-widget4
      # - plugin-widget5
      # - plugin-widget6
      # - plugin-widget7
      # - plugin-widget8
      # - plugin-widget9
      # - plugin-widget10

  plugin-site1:
    build: ./plugin/site1
    expose:
      - "80"
    container_name: plugin-site1

  plugin-site2:
    build: ./plugin/site2
    expose:
      - "80"
    container_name: plugin-site2

  plugin-widget1:
    build: ./plugin/widget1
    expose:
      - "80"
    container_name: plugin-widget1
  plugin-widget2:
    build: ./plugin/widget2
    expose:
      - "80"
    container_name: plugin-widget2
  plugin-widget3:
    build: ./plugin/widget3
    expose:
      - "80"
    container_name: plugin-widget3
  plugin-widget4:
    build: ./plugin/widget4
    expose:
      - "80"
    container_name: plugin-widget4
  # plugin-widget5:
  #   build: ./plugin/widget5
  #   expose:
  #     - "80"
  #   container_name: plugin-widget5
  # plugin-widget6:
  #   build: ./plugin/widget6
  #   expose:
  #     - "80"
  #   container_name: plugin-widget6
  # plugin-widget7:
  #   build: ./plugin/widget7
  #   expose:
  #     - "80"
  #   container_name: plugin-widget7
  # plugin-widget8:
  #   build: ./plugin/widget8
  #   expose:
  #     - "80"
  #   container_name: plugin-widget8
  # plugin-widget9:
  #   build: ./plugin/widget9
  #   expose:
  #     - "80"
  #   container_name: plugin-widget9
  # plugin-widget10:
  #   build: ./plugin/widget10
  #   expose:
  #     - "80"
  #   container_name: plugin-widget10