--
-- PostgreSQL database dump
--

\restrict 5tWXCN3Pfj9cgiIFYETLaJncKi2l9GBPSScQ3KmwQIYu3GBfquJ64ozEHULg01a

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: gem_user
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
            BEGIN
                NEW.updated_at = CURRENT_TIMESTAMP AT TIME ZONE 'UTC';
                RETURN NEW;
            END;
            $$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO gem_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: dashboard_configs; Type: TABLE; Schema: public; Owner: gem_user
--

CREATE TABLE public.dashboard_configs (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    configuration text
);


ALTER TABLE public.dashboard_configs OWNER TO gem_user;

--
-- Name: dashboard_configs_id_seq; Type: SEQUENCE; Schema: public; Owner: gem_user
--

CREATE SEQUENCE public.dashboard_configs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.dashboard_configs_id_seq OWNER TO gem_user;

--
-- Name: dashboard_configs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gem_user
--

ALTER SEQUENCE public.dashboard_configs_id_seq OWNED BY public.dashboard_configs.id;


--
-- Name: monitored_services; Type: TABLE; Schema: public; Owner: gem_user
--

CREATE TABLE public.monitored_services (
    id integer NOT NULL,
    name text NOT NULL,
    ip_address text NOT NULL,
    port integer NOT NULL,
    protocol text NOT NULL,
    check_interval_sec integer DEFAULT 60,
    interval_type text DEFAULT 'seconds'::text,
    interval_value integer DEFAULT 60,
    interval_unit text DEFAULT 'seconds'::text,
    cron_expression text,
    cron_job_name text,
    last_status text DEFAULT 'unknown'::text,
    success_count integer DEFAULT 0,
    failure_count integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    comment text,
    is_active boolean DEFAULT true,
    display_order integer,
    type text DEFAULT 'servers'::text,
    collection text DEFAULT 'uncategorized'::text,
    monitoring_proxy text DEFAULT 'backend'::text,
    CONSTRAINT monitored_services_interval_type_check CHECK ((interval_type = ANY (ARRAY['seconds'::text, 'minutes'::text, 'hours'::text, 'daily'::text, 'weekly'::text, 'monthly'::text, 'specific_day'::text]))),
    CONSTRAINT monitored_services_interval_unit_check CHECK ((interval_unit = ANY (ARRAY['seconds'::text, 'minutes'::text, 'hours'::text, 'days'::text, 'weeks'::text, 'months'::text])))
);


ALTER TABLE public.monitored_services OWNER TO gem_user;

--
-- Name: monitored_services_id_seq; Type: SEQUENCE; Schema: public; Owner: gem_user
--

CREATE SEQUENCE public.monitored_services_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.monitored_services_id_seq OWNER TO gem_user;

--
-- Name: monitored_services_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gem_user
--

ALTER SEQUENCE public.monitored_services_id_seq OWNED BY public.monitored_services.id;


--
-- Name: monitoring_logs; Type: TABLE; Schema: public; Owner: gem_user
--

CREATE TABLE public.monitoring_logs (
    id integer NOT NULL,
    service_id integer,
    checked_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    status text NOT NULL,
    message text,
    notification_sent boolean DEFAULT false,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    comment text
);


ALTER TABLE public.monitoring_logs OWNER TO gem_user;

--
-- Name: monitoring_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: gem_user
--

CREATE SEQUENCE public.monitoring_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.monitoring_logs_id_seq OWNER TO gem_user;

--
-- Name: monitoring_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gem_user
--

ALTER SEQUENCE public.monitoring_logs_id_seq OWNED BY public.monitoring_logs.id;


--
-- Name: test_table; Type: TABLE; Schema: public; Owner: gem_user
--

CREATE TABLE public.test_table (
    id integer NOT NULL,
    comment text
);


ALTER TABLE public.test_table OWNER TO gem_user;

--
-- Name: test_table_id_seq; Type: SEQUENCE; Schema: public; Owner: gem_user
--

CREATE SEQUENCE public.test_table_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.test_table_id_seq OWNER TO gem_user;

--
-- Name: test_table_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gem_user
--

ALTER SEQUENCE public.test_table_id_seq OWNED BY public.test_table.id;


--
-- Name: dashboard_configs id; Type: DEFAULT; Schema: public; Owner: gem_user
--

ALTER TABLE ONLY public.dashboard_configs ALTER COLUMN id SET DEFAULT nextval('public.dashboard_configs_id_seq'::regclass);


--
-- Name: monitored_services id; Type: DEFAULT; Schema: public; Owner: gem_user
--

ALTER TABLE ONLY public.monitored_services ALTER COLUMN id SET DEFAULT nextval('public.monitored_services_id_seq'::regclass);


--
-- Name: monitoring_logs id; Type: DEFAULT; Schema: public; Owner: gem_user
--

ALTER TABLE ONLY public.monitoring_logs ALTER COLUMN id SET DEFAULT nextval('public.monitoring_logs_id_seq'::regclass);


--
-- Name: test_table id; Type: DEFAULT; Schema: public; Owner: gem_user
--

ALTER TABLE ONLY public.test_table ALTER COLUMN id SET DEFAULT nextval('public.test_table_id_seq'::regclass);


--
-- Data for Name: dashboard_configs; Type: TABLE DATA; Schema: public; Owner: gem_user
--

COPY public.dashboard_configs (id, name, configuration) FROM stdin;
5	refresh_interval	{"interval": 30}
1	grouping_preferences	{"grouping_mode": "type", "group_by_servers": true, "group_by_datasets": true, "group_by_thredds": true, "group_by_ocean_plotters": true, "group_by_models": true, "group_by_server_cloud": true}
103	cloud-monitoring.corp.spc.int	eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjb2xsZWN0aW9uSWQiOiJfcGJfdXNlcnNfYXV0aF8iLCJleHAiOjE3Njg4ODE1OTAsImlkIjoiMmh5ajk0ZzB3bmZjOTM2IiwicmVmcmVzaGFibGUiOnRydWUsInR5cGUiOiJhdXRoIn0.Vh_snkSEfCZsDv-4BpVhqZsHDxU243o3JoZpbCi_cN8
\.


--
-- Data for Name: monitored_services; Type: TABLE DATA; Schema: public; Owner: gem_user
--




--
-- Data for Name: test_table; Type: TABLE DATA; Schema: public; Owner: gem_user
--

COPY public.test_table (id, comment) FROM stdin;
1	This is the first comment
2	Another comment goes here
3	Testing auto-increment ID
4	Sample comment with special characters !@#$%^&*()
5	Last comment in the test data
\.


--
-- Name: dashboard_configs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gem_user
--

SELECT pg_catalog.setval('public.dashboard_configs_id_seq', 140, true);


--
-- Name: monitored_services_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gem_user
--

SELECT pg_catalog.setval('public.monitored_services_id_seq', 174, true);


--
-- Name: monitoring_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gem_user
--

SELECT pg_catalog.setval('public.monitoring_logs_id_seq', 28256, true);


--
-- Name: test_table_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gem_user
--

SELECT pg_catalog.setval('public.test_table_id_seq', 5, true);


--
-- Name: dashboard_configs dashboard_configs_name_key; Type: CONSTRAINT; Schema: public; Owner: gem_user
--

ALTER TABLE ONLY public.dashboard_configs
    ADD CONSTRAINT dashboard_configs_name_key UNIQUE (name);


--
-- Name: dashboard_configs dashboard_configs_pkey; Type: CONSTRAINT; Schema: public; Owner: gem_user
--

ALTER TABLE ONLY public.dashboard_configs
    ADD CONSTRAINT dashboard_configs_pkey PRIMARY KEY (id);


--
-- Name: monitored_services monitored_services_pkey; Type: CONSTRAINT; Schema: public; Owner: gem_user
--

ALTER TABLE ONLY public.monitored_services
    ADD CONSTRAINT monitored_services_pkey PRIMARY KEY (id);


--
-- Name: monitoring_logs monitoring_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: gem_user
--

ALTER TABLE ONLY public.monitoring_logs
    ADD CONSTRAINT monitoring_logs_pkey PRIMARY KEY (id);


--
-- Name: test_table test_table_pkey; Type: CONSTRAINT; Schema: public; Owner: gem_user
--

ALTER TABLE ONLY public.test_table
    ADD CONSTRAINT test_table_pkey PRIMARY KEY (id);


--
-- Name: monitored_services trg_monitored_services_updated_at; Type: TRIGGER; Schema: public; Owner: gem_user
--

CREATE TRIGGER trg_monitored_services_updated_at BEFORE UPDATE ON public.monitored_services FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: monitoring_logs trg_monitoring_logs_updated_at; Type: TRIGGER; Schema: public; Owner: gem_user
--

CREATE TRIGGER trg_monitoring_logs_updated_at BEFORE UPDATE ON public.monitoring_logs FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: monitoring_logs monitoring_logs_service_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: gem_user
--

ALTER TABLE ONLY public.monitoring_logs
    ADD CONSTRAINT monitoring_logs_service_id_fkey FOREIGN KEY (service_id) REFERENCES public.monitored_services(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 5tWXCN3Pfj9cgiIFYETLaJncKi2l9GBPSScQ3KmwQIYu3GBfquJ64ozEHULg01a

